<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Residence</ion-title>
    <ion-buttons slot="end">
      <ion-button> <ion-icon name="podium-sharp"></ion-icon> </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card class="custom-card">
    <ion-card-header>
      <ion-card-title>Students Residences</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    </ion-card-content>
    <ion-button id="card-button" shape="round">
      Residence Information
      <ion-icon slot="end" name="checkmark-done-sharp"></ion-icon>
    </ion-button>
  </ion-card>
  


  <ion-card id="list-card">
    <ion-card-header>
      <ion-card-title>Isiphingo Residences <ion-icon name="pulse-sharp"></ion-icon></ion-card-title>
    </ion-card-header>
  
    <ion-card-content>

      <ion-list lines="none" id="list">
        <ion-item > 
          <ion-avatar aria-hidden="true" slot="start">
            <img alt="" src="../../assets/images/mut2.jpg" />
          </ion-avatar>
          <ion-label>Rads Lodge</ion-label>
          <ion-button slot="end" shape="round" id="rads">
            <ion-icon name="paper-plane-sharp" slot="end"></ion-icon>
            Visit
          </ion-button>
        </ion-item>
        <ion-item >
          <ion-avatar aria-hidden="true" slot="start">
            <img alt="" src="../../assets/images/mut2.jpg" />
          </ion-avatar>
          <ion-label>Unicity Res</ion-label>
          <ion-button slot="end" shape="round">
            <ion-icon name="paper-plane-sharp" slot="end"></ion-icon>
            Visit
          </ion-button>
        </ion-item>
        <ion-item >
          <ion-avatar aria-hidden="true" slot="start">
            <img alt="" src="../../assets/images/mut2.jpg" />
          </ion-avatar>
          <ion-label>Pingo Keys</ion-label>
          <ion-button slot="end" shape="round">
            <ion-icon name="paper-plane-sharp" slot="end"></ion-icon>
            Visit
          </ion-button>
        </ion-item>
        <ion-item >
          <ion-avatar aria-hidden="true" slot="start">
            <img alt="" src="../../assets/images/mut2.jpg" />
          </ion-avatar>
          <ion-label>Villa Mzimba</ion-label>
          <ion-button slot="end" shape="round">
            <ion-icon name="paper-plane-sharp" slot="end"></ion-icon>
            Visit
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>






  <ion-card id="list-card">
    <ion-card-header>
      <ion-card-title>Montclair Residences <ion-icon name="pulse-sharp"></ion-icon></ion-card-title>
    </ion-card-header>
  
    <ion-card-content>

      <ion-list lines="none" id="list">
        <ion-item > 
          <ion-avatar aria-hidden="true" slot="start">
            <img alt="" src="../../assets/images/mut2.jpg" />
          </ion-avatar>
          <ion-label>Ubombo House</ion-label>
          <ion-button slot="end" shape="round">
            <ion-icon name="paper-plane-sharp" slot="end"></ion-icon>
            Visit
          </ion-button>
        </ion-item>
        <ion-item >
          <ion-avatar aria-hidden="true" slot="start">
            <img alt="" src="../../assets/images/mut2.jpg" />
          </ion-avatar>
          <ion-label>Shiv Mansions</ion-label>
          <ion-button slot="end" shape="round">
            <ion-icon name="paper-plane-sharp" slot="end"></ion-icon>
            Visit
          </ion-button>
        </ion-item>
        <ion-item >
          <ion-avatar aria-hidden="true" slot="start">
            <img alt="" src="../../assets/images/mut2.jpg" />
          </ion-avatar>
          <ion-label>Pilglen Mews</ion-label>
          <ion-button slot="end" shape="round">
            <ion-icon name="paper-plane-sharp" slot="end"></ion-icon>
            Visit
          </ion-button>
        </ion-item>
        <ion-item >
          <ion-avatar aria-hidden="true" slot="start">
            <img alt="" src="../../assets/images/mut2.jpg" />
          </ion-avatar>
          <ion-label>Halima</ion-label>
          <ion-button slot="end" shape="round">
            <ion-icon name="paper-plane-sharp" slot="end"></ion-icon>
            Visit
          </ion-button>
        </ion-item>
        <ion-item >
          <ion-avatar aria-hidden="true" slot="start">
            <img alt="" src="../../assets/images/mut2.jpg" />
          </ion-avatar>
          <ion-label>Ridgemont</ion-label>
          <ion-button slot="end" shape="round">
            <ion-icon name="paper-plane-sharp" slot="end"></ion-icon>
            Visit
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>







  <ion-card id="list-card">
    <ion-card-header>
      <ion-card-title>Town Residences <ion-icon name="pulse-sharp"></ion-icon></ion-card-title>
    </ion-card-header>
  
    <ion-card-content>

      <ion-list lines="none" id="list">
        <ion-item > 
          <ion-avatar aria-hidden="true" slot="start">
            <img alt="" src="../../assets/images/mut2.jpg" />
          </ion-avatar>
          <ion-label>Cross Street</ion-label>
          <ion-button slot="end" shape="round">
            <ion-icon name="paper-plane-sharp" slot="end"></ion-icon>
            Visit
          </ion-button>
        </ion-item>
        <ion-item >
          <ion-avatar aria-hidden="true" slot="start">
            <img alt="" src="../../assets/images/mut2.jpg" />
          </ion-avatar>
          <ion-label>537 Smith Street</ion-label>
          <ion-button slot="end" shape="round">
            <ion-icon name="paper-plane-sharp" slot="end"></ion-icon>
            Visit
          </ion-button>
        </ion-item>
        <ion-item >
          <ion-avatar aria-hidden="true" slot="start">
            <img alt="" src="../../assets/images/mut2.jpg" />
          </ion-avatar>
          <ion-label>385 Smith Street</ion-label>
          <ion-button slot="end" shape="round">
            <ion-icon name="paper-plane-sharp" slot="end"></ion-icon>
            Visit
          </ion-button>
        </ion-item>
        <ion-item >
          <ion-avatar aria-hidden="true" slot="start">
            <img alt="" src="../../assets/images/mut2.jpg" />
          </ion-avatar>
          <ion-label>Plaza Lodge</ion-label>
          <ion-button slot="end" shape="round">
            <ion-icon name="paper-plane-sharp" slot="end"></ion-icon>
            Visit
          </ion-button>
        </ion-item>
        <ion-item >
          <ion-avatar aria-hidden="true" slot="start">
            <img alt="" src="../../assets/images/mut2.jpg" />
          </ion-avatar>
          <ion-label>Poython House</ion-label>
          <ion-button slot="end" shape="round">
            <ion-icon name="paper-plane-sharp" slot="end"></ion-icon>
            Visit
          </ion-button>
        </ion-item>
        <ion-item >
          <ion-avatar aria-hidden="true" slot="start">
            <img alt="" src="../../assets/images/mut2.jpg" />
          </ion-avatar>
          <ion-label>Urban Life Crystal</ion-label>
          <ion-button slot="end" shape="round">
            <ion-icon name="paper-plane-sharp" slot="end"></ion-icon>
            Visit
          </ion-button>
        </ion-item>
        <ion-item >
          <ion-avatar aria-hidden="true" slot="start">
            <img alt="" src="../../assets/images/mut2.jpg" />
          </ion-avatar>
          <ion-label>Colonial Building</ion-label>
          <ion-button slot="end" shape="round">
            <ion-icon name="paper-plane-sharp" slot="end"></ion-icon>
            Visit
          </ion-button>
        </ion-item>
        <ion-item >
          <ion-avatar aria-hidden="true" slot="start">
            <img alt="" src="../../assets/images/mut2.jpg" />
          </ion-avatar>
          <ion-label>Melody Hills</ion-label>
          <ion-button slot="end" shape="round">
            <ion-icon name="paper-plane-sharp" slot="end"></ion-icon>
            Visit
          </ion-button>
        </ion-item>
        <ion-item >
          <ion-avatar aria-hidden="true" slot="start">
            <img alt="" src="../../assets/images/mut2.jpg" />
          </ion-avatar>
          <ion-label>Durban House</ion-label>
          <ion-button slot="end" shape="round">
            <ion-icon name="paper-plane-sharp" slot="end"></ion-icon>
            Visit
          </ion-button>
        </ion-item>
        <ion-item >
          <ion-avatar aria-hidden="true" slot="start">
            <img alt="" src="../../assets/images/mut2.jpg" />
          </ion-avatar>
          <ion-label>Oasis Res</ion-label>
          <ion-button slot="end" shape="round">
            <ion-icon name="paper-plane-sharp" slot="end"></ion-icon>
            Visit
          </ion-button>
        </ion-item>
        <ion-item >
          <ion-avatar aria-hidden="true" slot="start">
            <img alt="" src="../../assets/images/mut2.jpg" />
          </ion-avatar>
          <ion-label>Victoria Embankment</ion-label>
          <ion-button slot="end" shape="round">
            <ion-icon name="paper-plane-sharp" slot="end"></ion-icon>
            Visit
          </ion-button>
        </ion-item>
        <ion-item >
          <ion-avatar aria-hidden="true" slot="start">
            <img alt="" src="../../assets/images/mut2.jpg" />
          </ion-avatar>
          <ion-label>Sea Board</ion-label>
          <ion-button slot="end" shape="round">
            <ion-icon name="paper-plane-sharp" slot="end"></ion-icon>
            Visit
          </ion-button>
        </ion-item>
        <ion-item >
          <ion-avatar aria-hidden="true" slot="start">
            <img alt="" src="../../assets/images/mut2.jpg" />
          </ion-avatar>
          <ion-label>Water Front</ion-label>
          <ion-button slot="end" shape="round">
            <ion-icon name="paper-plane-sharp" slot="end"></ion-icon>
            Visit
          </ion-button>
        </ion-item>
        <ion-item >
          <ion-avatar aria-hidden="true" slot="start">
            <img alt="" src="../../assets/images/mut2.jpg" />
          </ion-avatar>
          <ion-label>Mahatma Gandih Res</ion-label>
          <ion-button slot="end" shape="round">
            <ion-icon name="paper-plane-sharp" slot="end"></ion-icon>
            Visit
          </ion-button>
        </ion-item>
        <ion-item >
          <ion-avatar aria-hidden="true" slot="start">
            <img alt="" src="../../assets/images/mut2.jpg" />
          </ion-avatar>
          <ion-label>Ark Royal</ion-label>
          <ion-button slot="end" shape="round">
            <ion-icon name="paper-plane-sharp" slot="end"></ion-icon>
            Visit
          </ion-button>
        </ion-item>
        <ion-item >
          <ion-avatar aria-hidden="true" slot="start">
            <img alt="" src="../../assets/images/mut2.jpg" />
          </ion-avatar>
          <ion-label>Lonsdale Hotel</ion-label>
          <ion-button slot="end" shape="round">
            <ion-icon name="paper-plane-sharp" slot="end"></ion-icon>
            Visit
          </ion-button>
        </ion-item>
        <ion-item >
          <ion-avatar aria-hidden="true" slot="start">
            <img alt="" src="../../assets/images/mut2.jpg" />
          </ion-avatar>
          <ion-label>Beach Hotel</ion-label>
          <ion-button slot="end" shape="round">
            <ion-icon name="paper-plane-sharp" slot="end"></ion-icon>
            Visit
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>





  <ion-card id="list-card">
    <ion-card-header>
      <ion-card-title>BBA Residences <ion-icon name="pulse-sharp"></ion-icon></ion-card-title>
    </ion-card-header>
  
    <ion-card-content>

      <ion-list lines="none" id="list">
        <ion-item > 
          <ion-avatar aria-hidden="true" slot="start">
            <img alt="" src="../../assets/images/mut2.jpg" />
          </ion-avatar>
          <ion-label>Craiglee</ion-label>
          <ion-button slot="end" shape="round">
            <ion-icon name="paper-plane-sharp" slot="end"></ion-icon>
            Visit
          </ion-button>
        </ion-item>
        <ion-item >
          <ion-avatar aria-hidden="true" slot="start">
            <img alt="" src="../../assets/images/mut2.jpg" />
          </ion-avatar>
          <ion-label>Botanic</ion-label>
          <ion-button slot="end" shape="round">
            <ion-icon name="paper-plane-sharp" slot="end"></ion-icon>
            Visit
          </ion-button>
        </ion-item>
        <ion-item >
          <ion-avatar aria-hidden="true" slot="start">
            <img alt="" src="../../assets/images/mut2.jpg" />
          </ion-avatar>
          <ion-label>Floradene</ion-label>
          <ion-button slot="end" shape="round">
            <ion-icon name="paper-plane-sharp" slot="end"></ion-icon>
            Visit
          </ion-button>
        </ion-item>
        <ion-item >
          <ion-avatar aria-hidden="true" slot="start">
            <img alt="" src="../../assets/images/mut2.jpg" />
          </ion-avatar>
          <ion-label>120 Clerence Rd</ion-label>
          <ion-button slot="end" shape="round">
            <ion-icon name="paper-plane-sharp" slot="end"></ion-icon>
            Visit
          </ion-button>
        </ion-item>
        <ion-item >
          <ion-avatar aria-hidden="true" slot="start">
            <img alt="" src="../../assets/images/mut2.jpg" />
          </ion-avatar>
          <ion-label>Abelia</ion-label>
          <ion-button slot="end" shape="round">
            <ion-icon name="paper-plane-sharp" slot="end"></ion-icon>
            Visit
          </ion-button>
        </ion-item>
        <ion-item >
          <ion-avatar aria-hidden="true" slot="start">
            <img alt="" src="../../assets/images/mut2.jpg" />
          </ion-avatar>
          <ion-label>Bernard Close</ion-label>
          <ion-button slot="end" shape="round">
            <ion-icon name="paper-plane-sharp" slot="end"></ion-icon>
            Visit
          </ion-button>
        </ion-item>
        <ion-item >
          <ion-avatar aria-hidden="true" slot="start">
            <img alt="" src="../../assets/images/mut2.jpg" />
          </ion-avatar>
          <ion-label>Cullingworth</ion-label>
          <ion-button slot="end" shape="round">
            <ion-icon name="paper-plane-sharp" slot="end"></ion-icon>
            Visit
          </ion-button>
        </ion-item>
        <ion-item >
          <ion-avatar aria-hidden="true" slot="start">
            <img alt="" src="../../assets/images/mut2.jpg" />
          </ion-avatar>
          <ion-label>Berea Court</ion-label>
          <ion-button slot="end" shape="round">
            <ion-icon name="paper-plane-sharp" slot="end"></ion-icon>
            Visit
          </ion-button>
        </ion-item>
        <ion-item >
          <ion-avatar aria-hidden="true" slot="start">
            <img alt="" src="../../assets/images/mut2.jpg" />
          </ion-avatar>
          <ion-label>Grand Lodge</ion-label>
          <ion-button slot="end" shape="round">
            <ion-icon name="paper-plane-sharp" slot="end"></ion-icon>
            Visit
          </ion-button>
        </ion-item>
        <ion-item >
          <ion-avatar aria-hidden="true" slot="start">
            <img alt="" src="../../assets/images/mut2.jpg" />
          </ion-avatar>
          <ion-label>Carmel Court</ion-label>
          <ion-button slot="end" shape="round">
            <ion-icon name="paper-plane-sharp" slot="end"></ion-icon>
            Visit
          </ion-button>
        </ion-item>
        <ion-item >
          <ion-avatar aria-hidden="true" slot="start">
            <img alt="" src="../../assets/images/mut2.jpg" />
          </ion-avatar>
          <ion-label>Gale Street</ion-label>
          <ion-button slot="end" shape="round">
            <ion-icon name="paper-plane-sharp" slot="end"></ion-icon>
            Visit
          </ion-button>
        </ion-item>
        <ion-item >
          <ion-avatar aria-hidden="true" slot="start">
            <img alt="" src="../../assets/images/mut2.jpg" />
          </ion-avatar>
          <ion-label>Ardomore Flat</ion-label>
          <ion-button slot="end" shape="round">
            <ion-icon name="paper-plane-sharp" slot="end"></ion-icon>
            Visit
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>












  <ion-modal
    trigger="rads"
    [initialBreakpoint]="0.25"
    [breakpoints]="[0, 0.25, 0.5, 0.64]"
    handleBehavior="cycle"
  >
    <ng-template>
      <ion-header>
      </ion-header>
      <ion-content class="ion-padding">

        <ion-card class="custom-card">
          <ion-card-header>
            <ion-card-title>Rads Lodge</ion-card-title>
          </ion-card-header>
          <ion-card-content>
          </ion-card-content>
          <ion-button id="card-button" shape="round" routerLink="/rads-lodge-res">
            Explore
            <ion-icon slot="end" name="arrow-redo-sharp"></ion-icon>
          </ion-button>
        </ion-card>

        <ion-card id="list-card">
          <ion-card-header>
            <ion-card-title>Rads Residence <ion-icon name="pulse-sharp"></ion-icon></ion-card-title>
            <ion-card-subtitle>Details</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>      
            <ion-list lines="none" id="list">
              <ion-item > 
                <ion-icon aria-hidden="true" name="location-sharp" slot="start" class="icons"></ion-icon>
                <ion-label>23 Marigold Avenue, Isipingo Hills</ion-label>
              </ion-item>
              <ion-item > 
                <ion-icon aria-hidden="true" name="bed-sharp" slot="start" class="icons"></ion-icon>
                <ion-label>1, 2, 3 & 4 Sleeper Rooms</ion-label>
              </ion-item>
              <ion-item > 
                <ion-icon aria-hidden="true" name="wifi-sharp" slot="start" class="icons"></ion-icon>
                <ion-label>24/7 Wi-Fi</ion-label>
              </ion-item>
              <ion-item > 
                <ion-icon aria-hidden="true" name="shield-half-sharp" slot="start" class="icons"></ion-icon>
                <ion-label>24hrs Security</ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>

        <ion-card id="modal-bottom">
          <ion-button routerLink="/rads-lodge-res" shape="round" class="pictures-button">Pictures</ion-button>
          <ion-button shape="round" class="like-button">
            <ion-icon name="heart-sharp"></ion-icon>
          </ion-button>
        </ion-card>
        
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>
