ion-header {
  ion-toolbar {
    --ion-toolbar-background: #fff;
    color: #000;
    font-weight: bold;
    box-shadow: none;
  }
}

ion-content {
  --ion-background-color: #ffffff;
}
.scrollable-content {
  overflow: auto;
}
#list-card{
  --background: #fff;
  --color: #7a7a7a;
  box-shadow: none !important;
}

#list{
  background-color: #ffff;
}
.rating{
  padding-bottom: 10px;
}
ion-item{
  --background: #fff;
  --color: #7a7a7a;
  --detail-icon-color: #7a7a7a;
  --inner-box-shadow: none;
  font-size: 17px;
}
.icons{
  color: indigo;
  font-size: 35px;
}
#list-card ion-card-title{
  --color: #7a7a7a;
  font-size: 20px;
  font-weight: bold;
}

#list ion-button{
  --background: indigo;
  --color: #fff;
  text-transform: none;
}



.custom-card {
  --background: url('../../assets/images/mut4.jpg') center/cover;
  box-shadow: none !important;
}
#card-button {
  margin-left: 10px;
  margin-bottom: 10px;
  --background: indigo;
  --color: #fff;
  text-transform: none;
}
#modal-bottom{
  --background: #fff;
  box-shadow: none !important;
}
.pictures-button{
  --background: indigo;
  --color: #fff;
  text-transform: none;
}
.like-button{
  font-size: 20px;
  --background: indigo;
  --color: #fff;
  text-transform: none;
}
.dep_head{
  color: indigo;
}

/*.block {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

ion-modal {
  --height: auto;
}*/

.get-directions-button {
  --background: #4b0082; /* Indigo color */
  --color: #fff; /* Set text color to white for better contrast */
}












.list-header{
  background-color: indigo;
  color: #fff;
}
ion-list {
  ion-list-header {
    ion-label {
      font-size: 0.9rem;
    }
  }
  ion-item {
    ion-label {
      font-weight: bold;
      div {
        margin-top: 8px;
        ion-text {
          font-size: 0.9rem;
        }
      }
      p {
        margin-top: 5px;
        ion-text {
          font-size: 0.75rem;
          span {
            font-weight: normal;
            margin-left: 10px;
          }
        }
      }
    }
  }
}

ion-modal {
  ion-row {
    ion-col {
      ion-label {
        letter-spacing: 0.5px;
        font-size: 0.9rem;
      }   
      ion-textarea {
          --background: var(--ion-color-light);
          --border-radius: 5px;
      }
    }
    ion-col.rate {
      margin-top: 2vh;
      margin-bottom: 2vh;
  }
  }
}
