ion-header {
  ion-toolbar {
    --ion-toolbar-background: #ffffff;
}
  .top-bar{
    height: 8%;
    width: 95%;
    margin: auto;
    padding-top: 5px;
    background: white;
    display: flex;
    justify-content: space-between;
}

.top-bar .profile{
    height: 100%;
    width: 300px;
    display: flex;
}

.top-bar .bell-icon{
    height: 100%;
    width: 30px;
}

.top-bar .bell-icon i{
    font-size: 25px;
    color: indigo;
    justify-content: center;
    text-align: center;
    margin-top: 13px;
    font-weight: bold;
    cursor: pointer;
}

.top-bar .drawer{
  height: 100%;
  width: 30px;
}

.top-bar .drawer i{
  font-size: 25px;
  color: indigo;
  justify-content: center;
  text-align: center;
  margin-top: 13px;
  font-weight: bold;
  cursor: pointer;
}

.top-bar .profile-frm{
    height: 100%;
    width: 46px;
    margin-left: 5px;
    background: white;
}

.top-bar .profile-frm .profile-image{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #ccc;
    margin-top: 3px;
}

.top-bar .profile-frm .profile-image img {
    width: 100%; /* Make the image fill the container */
    height: 100%; /* Make the image fill the container */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
    border-radius: 50%; /* Create a circular image (adjust as needed) */
}

.top-bar .profile-name{
    height: 100%;
    width: 170px;
    margin-left: 5px;
    background: white;
}

.top-bar .profile-name .p-name{
    font-size: 10px;
    font-weight: bold;
    color: gray;
    margin-top: 10px;
}

.top-bar .profile-name .role{
  font-size: 13px;
  font-weight: bold;
  color: #000;
  margin-top: 5px;
}

.top-bar .expand{
    height: 100%;
    width: 30px;
}

.top-bar .expand i{
    font-size: 25px;
    justify-content: center;
    text-align: center;
    margin-top: 13px;
    font-weight: bold;
    cursor: pointer;
    color: indigo;
}

ion-searchbar{
  margin-top: 7px;
  margin-bottom: 7px;
  --background: #ececec;
  --border-radius: 10px;
  --color: #000;
  --icon-color: #000;
  --placeholder-color: #000;
  --box-shadow: none;
}
  }



  ion-content {
    --ion-background-color: #ffffff;
  }





  swiper-container {
    width: 95%;
    height: 140px;
    --swiper-pagination-color: indigo;
  }
  
  swiper-slide {
    height: 100px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin-right: 10px;
  }

  swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }

  .icon{
    width: 80%;
    margin: auto;
    text-align: center;
  }
  .icon i{
    margin-top: 15px;
    font-size: 40px;
    color: indigo;
  }
  .Title{
    width: 90%;
    margin: auto;
    font-size: 16px;
    color: #a5a5a5;
    text-align: center;
    font-weight: 500;
  }
  
  








  ion-card{
    --background: indigo;
    --color: #fff;
    box-shadow: none !important;
  }
  #top-button{
    --background: indigo;
    --color: #fff;
  }
  #card-button {
    margin-left: 10px;
    margin-bottom: 10px;
    --background: #fff;
    --color: indigo;
    text-transform: none;
  }

  #grid_card{
    height: 300px;
    overflow: hidden;
    --background: #f5f5f5;
    box-shadow: none !important;
    border-radius: 10px;
  }
  #grid_card ion-card-content {
    height: 90%;
  }
  #grid_card ion-card-title{
    --color: #7a7a7a;
    font-size: 20px;
    font-weight: bold;
  }
  ion-col {
    background-color: #fff;
    margin-left: 3px;
    margin-right: 3px;
    height: 100px;
    border-radius: 10px;
    color: #fff;
    text-align: center;
  }

  ion-fab-button {
    --background: indigo;
    --border-radius: 50%;
    --color: white;
  }











  #list-card{
    --background: #fff;
    --color: #7a7a7a;
  }
  #list{
    background-color: #ffff;
  }
  ion-item{
    --background: #fff;
    --color: #7a7a7a;
    --detail-icon-color: #7a7a7a;
    --inner-box-shadow: none;
    font-size: 17px;
  }
  .icons{
    color: indigo;
    font-size: 35px;
  }
  #list-card ion-card-title{
    --color: #7a7a7a;
    font-size: 20px;
    font-weight: bold;
  }

  .center-popover {
    --width: 80%;
  }

  #popover-card{
    --background: #fff;
    --color: #7a7a7a;
    width: 90%;
  }
  #popoverlist{
    background-color: #ffff;
  }
  ion-item{
    --background: #fff;
    --color: #7a7a7a;
    --detail-icon-color: #7a7a7a;
    --inner-box-shadow: none;
    font-size: 17px;
  }
  .popover-icons{
    color: indigo;
    font-size: 25px;
  }
  #popover-card ion-card-title{
    --color: #7a7a7a;
    font-size: 20px;
    font-weight: bold;
  }
  #popoverlist ion-button{
    --background: indigo;
    --color: #fff;
    text-transform: none;
  }