<ion-header style="--background: #fff;" class="ion-no-border" [translucent]="true">
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
  <!--<ion-toolbar>
    <ion-buttons slot="secondary">
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>MUT</ion-title>
  </ion-toolbar>-->
  <ion-toolbar>
    <div class="top-bar">
      <div class="profile">
        <div class="profile-frm">
            <div class="profile-image">
                <img src="../../assets/images/tyc.jpg">
            </div>
        </div>
        <div class="profile-name">
            <div class="p-name">Hello</div>
            <div class="role">Mncedisi Hlonzi</div>
        </div>
    </div>
    <div class="bell-icon" routerLink="/notifications">
      <ion-badge style="border-radius: 10px; z-index: 9999; position: fixed; margin-left: -8px; margin-top: 5px;" color="danger" routerLink="/notifications">25</ion-badge>
      <i class='bx bx-bell'></i>
    </div>
  <ion-button id="top-button" shape="round" routerLink="/ai">
    <ion-icon name="analytics-sharp"></ion-icon>
  </ion-button>
  </div>

  <ion-searchbar></ion-searchbar>
  </ion-toolbar>

  

</ion-header>

<ion-content [fullscreen]="true">
  
  <swiper-container slides-per-view="3" speed="500" pagination="true" loop="true" css-mode="true">

    <swiper-slide>
      <img src="../../assets/images/mut1.jpg" alt="">
    </swiper-slide>
    <swiper-slide>
      <img src="../../assets/images/mut4.jpg" alt="">
    </swiper-slide>
    <swiper-slide>
      <img src="../../assets/images/mut6.jpg" alt="">
    </swiper-slide>
    <swiper-slide>
      <img src="../../assets/images/mut5.jpg" alt="">
    </swiper-slide>
    
  </swiper-container>

  <ion-card>
    <ion-card-header>
      <ion-card-title style="color: #ccc;">Voice My Concern</ion-card-title>
      <ion-card-subtitle>Your Platform to Be Heard.</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Share your thoughts, raise issues, and collaborate for a better school experience.
    </ion-card-content>
  
    <ion-button id="card-button" shape="round" routerLink="/voice-my-concern">
      Raise a Concern
      <ion-icon slot="end" name="megaphone-sharp"></ion-icon>
    </ion-button>
  </ion-card>


  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="chevron-up-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button routerLink="/profile">
        <ion-icon name="person-sharp"></ion-icon>
      </ion-fab-button>
      <ion-fab-button routerLink="/settingss">
        <ion-icon name="settings-sharp"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-card id="list-card">
    <ion-card-header>
      <ion-card-title>Academics <ion-icon class="dep_head" name="pulse-sharp"></ion-icon></ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-list lines="none" id="list">
        <ion-item routerLink="/posts">
          <ion-icon aria-hidden="true" name="reader-sharp" slot="start" class="icons"></ion-icon>
          <ion-label>Announcements</ion-label>
        </ion-item>
        <ion-item routerLink="/timetable">
          <ion-icon aria-hidden="true" name="calendar-sharp" slot="start" class="icons"></ion-icon>
          <ion-label>Time Table</ion-label>
        </ion-item>
        <ion-item routerLink="/transport">
          <ion-icon aria-hidden="true" name="bus-sharp" slot="start" class="icons"></ion-icon>
          <ion-label>Transport</ion-label>
        </ion-item>
        <ion-item routerLink="/sports">
          <ion-icon aria-hidden="true" name="football-sharp" slot="start" class="icons"></ion-icon>
          <ion-label>Sports</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>










  <ion-card id="grid_card">
    <ion-card-header>
      <ion-card-title>General Information <ion-icon class="dep_head" name="pulse-sharp"></ion-icon></ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col routerLink="/faculties">
            <div class="icon"><i class='bx bxs-layer'></i></div>
            <div class="Title">Faculties</div>
          </ion-col>
          <ion-col routerLink="/departments">
            <div class="icon"><i class='bx bxs-bar-chart-alt-2'></i></div>
            <div class="Title">Departments</div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row>
          <ion-col routerLink="/registration">
            <div class="icon"><i class='bx bxs-pencil'></i></div>
            <div class="Title">Registrations</div>
          </ion-col>
          <ion-col routerLink="/courses">
            <div class="icon"><i class='bx bxs-graduation'></i></div>
            <div class="Title">Courses</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>


  
  
</ion-content>