<ion-header style="--background: #fff;" class="ion-no-border" [translucent]="true">
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
  <ion-toolbar>
    <div class="top-bar">
      <div class="profile">
        <div class="profile-frm"> 
            <div class="profile-image">
                <img [src]="'http://192.168.101.153:3000/' + adminProfile.profile_picture" alt="Profile Picture"> <!-- Display profile picture -->
            </div>
        </div>
        <div class="profile-name">
            <div class="p-name">Hi, <span>{{ adminProfile.name }}</span></div> <!-- Display admin name -->
            <div class="role">{{ adminProfile.position }}</div> <!-- Display admin position -->
        </div>
      </div>
    <div class="bell-icon" routerLink="/notifications">
      <ion-badge style="border-radius: 10px; z-index: 9999; position: fixed; margin-left: -8px; margin-top: 5px;" color="danger" routerLink="/notifications">25</ion-badge>
      <i class='bx bx-bell'></i>
    </div>
  </div>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">


  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="chevron-up-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon name="log-out-sharp"></ion-icon>
      </ion-fab-button>
      <ion-fab-button routerLink="/sport-profile">
        <ion-icon name="person-sharp"></ion-icon>
      </ion-fab-button>
      <ion-fab-button routerLink="/settingss">
        <ion-icon name="settings-sharp"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  
  <ion-card id="grid_card">
    <ion-card-header>
      <ion-card-title>Your Duties <ion-icon class="dep_head" name="pulse-sharp"></ion-icon></ion-card-title>
    </ion-card-header>
  

      <ion-grid>
        <ion-row>
          <ion-col routerLink="/sport-create-posts">
            <ion-icon class="ionicons" name="create-sharp"></ion-icon>
            <div class="Title">Create Statements</div>
          </ion-col>
          <ion-col routerLink="/sports-manage-posts">
            <ion-icon class="ionicons" name="hammer-sharp"></ion-icon>
            <div class="Title">Manage Posts</div>
          </ion-col>
          <ion-col style="box-shadow: none; margin-left: 5px;"></ion-col>
        </ion-row>
      </ion-grid>

  </ion-card>
  
</ion-content>