ion-header {
  ion-toolbar {
    --ion-toolbar-background: indigo;
    color: #fff;
    font-weight: bold;
    box-shadow: none;
  }
  }
  
  ion-content {
    --ion-background-color: #ffffff;
  }

  #list-card{
    --background: #ffffff;
    --color: #7a7a7a;
    box-shadow: none !important;
  }
  .icons{
    color: indigo;
  }
  #list-card ion-card-title{
    --color: #7a7a7a;
    font-size: 20px;
    font-weight: bold;
  }
