<ion-header style="--background: indigo;" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Rads Lodge</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card id="list-card">
    <img alt="Silhouette of mountains" src="../../assets/images/mut2.jpg" />
    <ion-card-header>
      <ion-card-title style="color: #ccc;">Rads Lodge <ion-icon class="icons" name="pin-sharp"></ion-icon></ion-card-title>
      <ion-card-subtitle>Outside View</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card id="list-card">
    <img alt="Silhouette of mountains" src="../../assets/images/studyroom.jpg" />
    <ion-card-header>
      <ion-card-title>Rads Lodge <ion-icon class="icons" name="pin-sharp"></ion-icon></ion-card-title>
      <ion-card-subtitle>Study Room</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card id="list-card">
    <img alt="Silhouette of mountains" src="../../assets/images/kitchen.jpg" />
    <ion-card-header>
      <ion-card-title>Rads Lodge <ion-icon class="icons" name="pin-sharp"></ion-icon></ion-card-title>
      <ion-card-subtitle>Kitchen</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card id="list-card">
    <img alt="Silhouette of mountains" src="../../assets/images/tvroom.jpg" />
    <ion-card-header>
      <ion-card-title>Rads Lodge <ion-icon class="icons" name="pin-sharp"></ion-icon></ion-card-title>
      <ion-card-subtitle>Tv Room</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card id="list-card">
    <img alt="Silhouette of mountains" src="../../assets/images/laundry.jpg" />
    <ion-card-header>
      <ion-card-title>Rads Lodge <ion-icon class="icons" name="pin-sharp"></ion-icon></ion-card-title>
      <ion-card-subtitle>Laundry</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card id="list-card">
    <img alt="Silhouette of mountains" src="../../assets/images/single.jpeg" />
    <ion-card-header>
      <ion-card-title>Rads Lodge <ion-icon class="icons" name="pin-sharp"></ion-icon></ion-card-title>
      <ion-card-subtitle>Single Bedroom</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card id="list-card">
    <img alt="Silhouette of mountains" src="../../assets/images/2sleeperII.jpg" />
    <ion-card-header>
      <ion-card-title>Rads Lodge <ion-icon class="icons" name="pin-sharp"></ion-icon></ion-card-title>
      <ion-card-subtitle>2 Sleeper Bedroom</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card id="list-card">
    <img alt="Silhouette of mountains" src="../../assets/images/3sleeper.jpg" />
    <ion-card-header>
      <ion-card-title>Rads Lodge <ion-icon class="icons" name="pin-sharp"></ion-icon></ion-card-title>
      <ion-card-subtitle>3 Sleeper Bedroom</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card id="list-card">
    <img alt="Silhouette of mountains" src="../../assets/images/4sleeperII.jpg" />
    <ion-card-header>
      <ion-card-title>Rads Lodge <ion-icon class="icons" name="pin-sharp"></ion-icon></ion-card-title>
      <ion-card-subtitle>4 Sleeper Bedroom</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-content>
