<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Notifications</ion-title>
    <ion-buttons slot="end">
      <ion-button> <ion-icon name="notifications-sharp"></ion-icon> </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-card id="list-card">
    <ion-card-header>
      <ion-card-title>Unread Notifications <ion-icon class="dep_head" name="pulse-sharp"></ion-icon></ion-card-title>
    </ion-card-header>
  
      <ion-list lines="none" id="list">
        <ion-item detail="true"> 
          <ion-icon class="notifications-icon" name="notifications-circle-sharp"></ion-icon>
          <ion-label class="post-details">
            <h3>New Announcement</h3>
            <p>From <span class="post-from">SRC Office</span> • <span class="time-posted">3m Ago</span></p>
          </ion-label>
        </ion-item>
        <ion-item detail="true"> 
          <ion-icon class="notifications-icon" name="notifications-circle-sharp"></ion-icon>
          <ion-label class="post-details">
            <h3>New Announcement</h3>
            <p>From <span class="post-from">Sports Office</span> • <span class="time-posted">5h Ago</span></p>
          </ion-label>
        </ion-item>
        <ion-item detail="true"> 
          <ion-icon class="notifications-icon" name="notifications-circle-sharp"></ion-icon>
          <ion-label class="post-details">
            <h3>New Announcement</h3>
            <p>From <span class="post-from">Transport Office</span> • <span class="time-posted">17s Ago</span></p>
          </ion-label>
        </ion-item>
      </ion-list>

  </ion-card>


  <ion-card id="list-card">
    <ion-card-header>
      <ion-card-title>Read Notifications <ion-icon class="dep_head" name="pulse-sharp"></ion-icon></ion-card-title>
    </ion-card-header>

      <ion-list lines="none" id="list">
        <ion-item class="read" detail="true"> 
          <ion-icon class="notifications-icon" name="notifications-circle-sharp"></ion-icon>
          <ion-label class="post-details">
            <h3>New Announcement</h3>
            <p>From <span class="post-from">SRC Office</span> • <span class="time-posted">23h Ago</span></p>
          </ion-label>
        </ion-item>
        <ion-item class="read" detail="true"> 
          <ion-icon class="notifications-icon" name="notifications-circle-sharp"></ion-icon>
          <ion-label class="post-details">
            <h3>New Announcement</h3>
            <p>From <span class="post-from">Sports Office</span> • <span class="time-posted">7 months</span></p>
          </ion-label>
        </ion-item>
        <ion-item class="read" detail="true"> 
          <ion-icon class="notifications-icon" name="notifications-circle-sharp"></ion-icon>
          <ion-label class="post-details">
            <h3>New Announcement</h3>
            <p>From <span class="post-from">Transport Office</span> • <span class="time-posted">2 years</span></p>
          </ion-label>
        </ion-item>
      </ion-list>

  </ion-card>

</ion-content>
