<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Radio</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="radio-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card id="card">
    <img src="../../assets/images/mutRadio.jpg" />
    <p>MUT Radio is an Online Campus Radio belonging to Mangosuthu University of Technology used as a tool to be a transforming, equitable, sustainable and academically excellent University of Technology anchored in communities.</p>
  </ion-card>

  <ion-grid id="podc">
    <ion-row>
      <ion-col class="pod">PODCASTS</ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-grid id="lineU">
    <ion-row>
      <ion-col class="line">LINE UP</ion-col>
    </ion-row>
  </ion-grid>

  <ion-card id="play">
    <div class="icon">
      <ion-icon [name]="isPlaying ? 'pause-circle-outline' : 'play-circle-outline'" (click)="togglePlayPause()"></ion-icon>
    </div>
    <audio #audioElement hidden></audio>
    <div class="live">
      <p>Live Stream ...</p>
    </div>
    <div class="time">{{currentTime}}</div>
    <div class="vol">
      <ion-icon [name]="isMuted ? 'volume-mute-outline' : 'volume-high-outline'" (click)="toggleMute()"></ion-icon>
      <!--<ion-range min="0" max="1" step="0.1" [(ngModel)]="volume" (ionChange)="volumeChange($event)"></ion-range>-->
    </div>
  </ion-card>

  <ion-modal
    trigger="podc"
    [initialBreakpoint]="0.70"
    [breakpoints]="[0.70]"
    handleBehavior="cycle"
    style="--border-radius: 17px;"
  >
    <ng-template>
      <ion-header></ion-header>
      <ion-content class="ion-padding">
<!-- Podcasts
        
        <ion-card id="card" *ngFor="let podcast of podcasts; let i = index">
          <img id="podcast-image" [alt]="podcast.title" [src]="podcast.imageUrl" />
          <ion-card-header>
            <ion-card-title>{{ podcast.title }}</ion-card-title>
            <ion-card-subtitle>{{ podcast.subtitle }}</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            
            <div *ngFor="let podcast of podcasts; let i = index">
              <ion-icon [name]="podcast.isPlaying ? 'pause-circle-outline' : 'play-circle-outline'" (click)="togglePlayPausePod(i)"></ion-icon>
              <ion-icon [name]="podcast.isMuted ? 'volume-mute-outline' : 'volume-high-outline'" (click)="toggleMutePod(i)"></ion-icon>
              <button (click)="sharePodcast(i)">Share</button>
              <button (click)="downloadPodcast(i)">Download</button>
            </div>
          </ion-card-content>
        </ion-card> -->
         
        
        
  <ion-modal
    trigger="lineU"
    [initialBreakpoint]="0.70"
    [breakpoints]="[0.70]"
    handleBehavior="cycle"
    style="--border-radius: 17px;"
  >
    <ng-template>
      <ion-header></ion-header>
      <ion-content class="ion-padding">
        <ion-card id="card">
          <ion-card-content>
            <h3>Monday to Friday</h3>
            <p>07h00-10h00 : Vuk’ubangene Breakfast Show</p>
            <p>10h00-13h00 : Hlanganani Midday Show</p>
            <p>13h00-16h00 : The Campus Voice</p>
            <p>13h00-16h00 : The Campus Club (Friday)</p>
            <p>16h00-17h00 : Womanity (Thursday)</p>
          </ion-card-content>
          <ion-card-content>
            <h3>Saturday</h3>
            <p>08h00-10h00 : The weekend Breakfast Show</p>
            <p>10h00-13h00 : uShuni weNgoma</p>
            <p>13h00-15h00 : MUT Top 30</p>
            <p>15h00-17h00 : The Hip Hop Chamber</p>
          </ion-card-content>
          <ion-card-content>
            <h3>Sunday</h3>
            <p>08h00-10h00 : The Weekend Breakfast</p>
            <p>10h00-12h00 : Isinkwa Sokuphila</p>
            <p>12h00-15h00 : Soulful Sunday</p>
          </ion-card-content>
        </ion-card>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
