<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Radio</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="radio-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card id="card">
    <img src="../../assets/images/mutRadio.jpg" />
    <p>MUT Radio is an Online Campus Radio belonging to Mangosuthu University of Technology used as a tool to be a transforming, equitable, sustainable and academically excellent University of Technology anchored in communities.</p>
  </ion-card>

  <ion-grid id="podc">
    <ion-row>
      <ion-col class="pod">PODCASTS</ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-grid id="lineU">
    <ion-row>
      <ion-col class="line">LINE UP</ion-col>
    </ion-row>
  </ion-grid>

  <ion-card id="play">
    <div class="icon">
      <ion-icon id="audioElement" [name]="isPlaying ? 'pause-circle-outline' : 'play-circle-outline'" (click)="togglePlayPause()"><audio  #audioElement controls></audio></ion-icon>
    </div>
    
    <div class="live">
      <p>Live Stream ...</p>
    </div>
    <div class="time">00:00</div>
    <div class="vol">
      <ion-icon name="volume-high-outline"></ion-icon>
    </div>
  </ion-card>

  <ion-modal
    trigger="podc"
    [initialBreakpoint]="0.70"
    [breakpoints]="[0.70]"
    handleBehavior="cycle"
    style="--border-radius: 17px;"
  >
    <ng-template>
      <ion-header></ion-header>
      <ion-content class="ion-padding">
        <ion-card id="card">
          <img src="../../assets/images/timetable.jpg" />
          <ion-card-header>
            <ion-card-title style="text-align: center; color: #ccc;">No Podcasts Available</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal
    trigger="lineU"
    [initialBreakpoint]="0.70"
    [breakpoints]="[0.70]"
    handleBehavior="cycle"
    style="--border-radius: 17px;"
  >
    <ng-template>
      <ion-header></ion-header>
      <ion-content class="ion-padding">
        <ion-card id="card">
          <ion-card-content>
            <h3>Monday to Friday</h3>
            <p>07h00-10h00 : Vuk’ubangene Breakfast Show</p>
            <p>10h00-13h00 : Hlanganani Midday Show</p>
            <p>13h00-16h00 : The Campus Voice</p>
            <p>13h00-16h00 : The Campus Club (Friday)</p>
            <p>16h00-17h00 : Womanity (Thursday)</p>
          </ion-card-content>
          <ion-card-content>
            <h3>Saturday</h3>
            <p>08h00-10h00 : The weekend Breakfast Show</p>
            <p>10h00-13h00 : uShuni weNgoma</p>
            <p>13h00-15h00 : MUT Top 30</p>
            <p>15h00-17h00 : The Hip Hop Chamber</p>
          </ion-card-content>
          <ion-card-content>
            <h3>Sunday</h3>
            <p>08h00-10h00 : The Weekend Breakfast</p>
            <p>10h00-12h00 : Isinkwa Sokuphila</p>
            <p>12h00-15h00 : Soulful Sunday</p>
          </ion-card-content>
        </ion-card>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
