<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Radio</ion-title>
    <ion-buttons slot="end">
      <ion-button> <ion-icon name="radio-sharp"></ion-icon> </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card id="card">
    <img src="../../assets/images/mutRadio.jpg" />
  </ion-card>

  <ion-grid id="podc">
    <ion-row>
      <ion-col class="pod">
        PODCASTS
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid id="lineU">
    <ion-row>
      <ion-col class="line">
        LINE UP
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card id="play">
    <div class="icon">
      <ion-icon name="play-circle-outline"></ion-icon>
    </div>
    <div class="live">
      <p>Live Stream ...</p>
    </div>
    <div class="time">
      00:00
    </div>
    <div class="vol">
      <ion-icon name="volume-high-outline"></ion-icon>
    </div>
  </ion-card>




  <ion-modal
    trigger="podc"
    [initialBreakpoint]="0.70"
    [breakpoints]="[0.70]"
    handleBehavior="cycle"
    style="--border-radius: 17px;"
  >
    <ng-template>
      <ion-header>
      </ion-header>
      <ion-content class="ion-padding">

        <ion-card id="card">
          <img src="../../assets/images/timetable.jpg" />
          <ion-card-header>
            <ion-card-title style="text-align: center; color: #ccc;">No Podcasts Available</ion-card-title>
          </ion-card-header>
        </ion-card>
                
      </ion-content>
    </ng-template>
  </ion-modal>



  <ion-modal
    trigger="lineU"
    [initialBreakpoint]="0.70"
    [breakpoints]="[0.70]"
    handleBehavior="cycle"
    style="--border-radius: 17px;"
  >
    <ng-template>
      <ion-header>
      </ion-header>
      <ion-content class="ion-padding">

        <ion-card id="card">
          <img src="../../assets/images/timetable.jpg" />
          <ion-card-header>
            <ion-card-title style="text-align: center; color: #ccc;">Line Up Comming Soon</ion-card-title>
          </ion-card-header>
        </ion-card>
        
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>