ion-header {
    ion-toolbar {
      --ion-toolbar-background: indigo;
      color: #fff;
      font-weight: bold;
      box-shadow: none;
    }
  }

  ion-content {
    --ion-background-color: #ffffff;
  }