<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Navigation</ion-title>
    <ion-buttons slot="end">
      <ion-button class="top-button" shape="round" id="search"> <ion-icon name="search-sharp"></ion-icon> </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3456.334883388362!2d30.910702475142774!3d-29.969804427818424!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1ef7acb92bb39671%3A0x5fff50d20ffe53f0!2sMangosuthu%20University%20of%20Technology!5e0!3m2!1sen!2sza!4v1717034851832!5m2!1sen!2sza" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

  <ion-modal
    [isOpen]="true"
    [initialBreakpoint]="0.25"
    [breakpoints]="[0.25, 0.5, 0.75]"
    handleBehavior="cycle"
    style="--border-radius: 17px;"
  >
    <ng-template>
      <ion-header>
      </ion-header>
      <ion-content class="ion-padding">

        <ion-searchbar placeholder="Where to?"></ion-searchbar>

        <ion-list lines="none" id="list">
          <ion-item class="custom-detail-icon" detail="true">
            <ion-icon name="timer-outline"></ion-icon>
            <ion-label>
              <h3>Student Center</h3>
              <p>Library</p>
            </ion-label>
          </ion-item>
          <ion-item class="custom-detail-icon" detail="true">
            <ion-icon name="timer-outline"></ion-icon>
            <ion-label>
              <h3>D1 Lab</h3>
              <p>Step 5</p>
            </ion-label>
          </ion-item>
          <ion-item class="custom-detail-icon" detail="true">
            <ion-icon name="timer-outline"></ion-icon>
            <ion-label>
              <h3>Semme Hall</h3>
              <p>Resident H</p>
            </ion-label>
          </ion-item>
          <ion-item class="custom-detail-icon" detail="true">
            <ion-icon name="timer-outline"></ion-icon>
            <ion-label>
              <h3>Main Gate</h3>
              <p>Clinic</p>
            </ion-label>
          </ion-item>
          <ion-item class="custom-detail-icon" detail="true">
            <ion-icon name="timer-outline"></ion-icon>
            <ion-label>
              <h3>SRC Office</h3>
              <p>Warden's Office</p>
            </ion-label>
          </ion-item>
          <ion-item class="custom-detail-icon" detail="true">
            <ion-icon name="timer-outline"></ion-icon>
            <ion-label>
              <h3>Main Gate</h3>
              <p>North Campus</p>
            </ion-label>
          </ion-item>
        </ion-list>
        
      </ion-content>
    </ng-template>
  </ion-modal>




  <ion-modal
    trigger="search"
    [initialBreakpoint]="0.25"
    [breakpoints]="[0.25, 0.5, 0.75]"
    handleBehavior="cycle"
    style="--border-radius: 17px;"
    >
    <ng-template>
      <ion-header>
      </ion-header>
      <ion-content class="ion-padding">

        <ion-searchbar placeholder="Where to?"></ion-searchbar>

        <ion-list lines="none" id="list">
          <ion-item class="custom-detail-icon" detail="true">
            <ion-icon name="timer-outline"></ion-icon>
            <ion-label>
              <h3>Student Center</h3>
              <p>Library</p>
            </ion-label>
          </ion-item>
          <ion-item class="custom-detail-icon" detail="true">
            <ion-icon name="timer-outline"></ion-icon>
            <ion-label>
              <h3>D1 Lab</h3>
              <p>Step 5</p>
            </ion-label>
          </ion-item>
          <ion-item class="custom-detail-icon" detail="true">
            <ion-icon name="timer-outline"></ion-icon>
            <ion-label>
              <h3>Semme Hall</h3>
              <p>Resident H</p>
            </ion-label>
          </ion-item>
          <ion-item class="custom-detail-icon" detail="true">
            <ion-icon name="timer-outline"></ion-icon>
            <ion-label>
              <h3>Main Gate</h3>
              <p>Clinic</p>
            </ion-label>
          </ion-item>
          <ion-item class="custom-detail-icon" detail="true">
            <ion-icon name="timer-outline"></ion-icon>
            <ion-label>
              <h3>SRC Office</h3>
              <p>Warden's Office</p>
            </ion-label>
          </ion-item>
          <ion-item class="custom-detail-icon" detail="true">
            <ion-icon name="timer-outline"></ion-icon>
            <ion-label>
              <h3>Main Gate</h3>
              <p>North Campus</p>
            </ion-label>
          </ion-item>
        </ion-list>
        
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>