<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Courses</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="school-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Courses</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Mangosuthu University of Technology (MUT) offers a wide range of courses across its three main faculties: Engineering, Management Sciences, and Natural Sciences. Here is a breakdown of the courses available in each faculty:</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <h3>Faculty of Engineering</h3>
      <h4>Advanced Diploma:</h4>
      <ul>
        <li>Chemical Engineering</li>
      </ul>
      <h4>National Diploma:</h4>
      <ul>
        <li>Chemical Engineering</li>
        <li>Civil Engineering</li>
        <li>Surveying</li>
        <li>Construction Management & Quantity Surveying (Building)</li>
        <li>Electrical Engineering</li>
        <li>Mechanical Engineering</li>
      </ul>
      <h4>Bachelor of Technology:</h4>
      <ul>
        <li>Chemical Engineering</li>
      </ul>

      <h3>Faculty of Management Sciences</h3>
      <h4>Advanced Diploma:</h4>
      <ul>
        <li>Cost & Management Accounting</li>
        <li>Human Resources Management</li>
        <li>Marketing</li>
        <li>Office Management and Technology</li>
      </ul>
      <h4>Diploma:</h4>
      <ul>
        <li>Accounting</li>
        <li>Cost and Management Accounting</li>
        <li>Office Management and Technology</li>
        <li>Human Resource Management</li>
        <li>Marketing</li>
        <li>Public Finance and Accounting</li>
        <li>Public Management</li>
      </ul>

      <h3>Faculty of Natural Sciences</h3>
      <h4>Advanced Diploma:</h4>
      <ul>
        <li>Nature Conservation</li>
        <li>Agriculture in Crop Production</li>
      </ul>
      <h4>Diploma:</h4>
      <ul>
        <li>Agriculture</li>
        <li>Analytical Chemistry</li>
        <li>Animal Production</li>
        <li>Biomedical Technology</li>
        <li>Environmental Health</li>
        <li>Nature Conservation</li>
        <li>Information Technology</li>
      </ul>
      <h4>Bachelor of Health Sciences:</h4>
      <ul>
        <li>Medical Laboratory Sciences</li>
      </ul>
      <h4>Bachelor of Science:</h4>
      <ul>
        <li>Environmental Health</li>
      </ul>
    </ion-card-content>
  </ion-card>

</ion-content>
