<ion-header>
  <ion-toolbar>
    <ion-title>Chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="chat-content">
  <div *ngFor="let message of chatMessages" class="message-wrapper" [ngClass]="{'user-message': message.sender === 'user', 'bot-message': message.sender === 'ai'}">
    <div class="chat-bubble">
      <p>{{ message.text }}</p>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar class="footer-toolbar">
    <ion-item lines="none" class="input-container">
      <ion-input
        [(ngModel)]="userInput"
        placeholder="Message"
        type="text"
        clearInput="true"
        (keyup.enter)="sendMessage()"
        class="message-input"
      ></ion-input>
      <ion-button fill="clear" class="send-button" (click)="sendMessage()">
        <ion-icon name="send-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-toolbar>
</ion-footer>
