<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Ask AI</ion-title>
    <ion-buttons slot="end">
      <ion-button> <ion-icon name="analytics-sharp"></ion-icon> </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">AI</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
