ion-header {
    ion-toolbar {
        --ion-toolbar-background: #ffffff;
        --border-color: #ffffff;
        --border-style: none;
        --color: #000;
        box-shadow: none;
    }
  }
ion-content {
    --ion-background-color: #ffffff;
  }