<ion-header style="--background: indigo;" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Faculty of Management Science</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-card id="grid_card">
      <ion-grid>
        <ion-row>
          <ion-col routerLink="/management" class="Management">
            Faculty of Management Science
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-card>


  <!--<ion-card id="list-card">
      <ion-list lines="none" id="list">
        <ion-item>
          <ion-label>
            <h1>Faculty of Management Science</h1>
            <p> With a diverse range of departments, which are: Accounting and Law, Human Resource Management, Marketing, Office Mangement and Technology, and Public Administration and Economics, we offer comprehensive programmes designed to equip students with the necessary knowledge and skills to excel in various managerial roles.</p>
          </ion-label>
        </ion-item>
      </ion-list>
  </ion-card>-->

  <ion-card id="list-card">
    <ion-card-header>
      <ion-card-title>Management Science Departments <ion-icon class="dep_head" name="pulse-sharp"></ion-icon></ion-card-title>
    </ion-card-header>
  
    <ion-card-content>

      <ion-list lines="none" id="list">
        <ion-item > 
          <ion-label>Accounting and Law</ion-label>
          <ion-button slot="end" shape="round">
            <ion-icon name="arrow-forward-circle-sharp" slot="end"></ion-icon>
            View
          </ion-button>
        </ion-item>
        <ion-item > 
          <ion-label>Human Resource Management</ion-label>
          <ion-button slot="end" shape="round">
            <ion-icon name="arrow-forward-circle-sharp" slot="end"></ion-icon>
            View
          </ion-button>
        </ion-item>
        <ion-item > 
          <ion-label>Marketing</ion-label>
          <ion-button slot="end" shape="round">
            <ion-icon name="arrow-forward-circle-sharp" slot="end"></ion-icon>
            View
          </ion-button>
        </ion-item>
        <ion-item > 
          <ion-label>Office Management and Technology</ion-label>
          <ion-button slot="end" shape="round">
            <ion-icon name="arrow-forward-circle-sharp" slot="end"></ion-icon>
            View
          </ion-button>
        </ion-item>
        <ion-item > 
          <ion-label>Public Administration and Economics</ion-label>
          <ion-button slot="end" shape="round">
            <ion-icon name="arrow-forward-circle-sharp" slot="end"></ion-icon>
            View
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>


  <ion-card id="list-card">
    <ion-card-header>
      <ion-card-title>Management Science Courses <ion-icon class="dep_head" name="pulse-sharp"></ion-icon></ion-card-title>
    </ion-card-header>
  
    <ion-card-content>

      <ion-list lines="none" id="list">
        <ion-item > 
          <ion-label>Diploma in Accounting (4 years: ACOECP)</ion-label>
          <ion-button slot="end" shape="round">
            <ion-icon name="arrow-forward-circle-sharp" slot="end"></ion-icon>
            View
          </ion-button>
        </ion-item>
        <ion-item > 
          <ion-label>Diploma in Accounting (3 years: ACODIP)</ion-label>
          <ion-button slot="end" shape="round">
            <ion-icon name="arrow-forward-circle-sharp" slot="end"></ion-icon>
            View
          </ion-button>
        </ion-item>
        <ion-item > 
          <ion-label>Advanced Diploma in Cost and Management Accounting (ADVCMA)</ion-label>
          <ion-button slot="end" shape="round">
            <ion-icon name="arrow-forward-circle-sharp" slot="end"></ion-icon>
            View
          </ion-button>
        </ion-item>
        <ion-item > 
          <ion-label>Advanced Diploma in Accounting (ADVACC)</ion-label>
          <ion-button slot="end" shape="round">
            <ion-icon name="arrow-forward-circle-sharp" slot="end"></ion-icon>
            View
          </ion-button>
        </ion-item>
        <ion-item > 
          <ion-label>Diploma in Public Finance and Accounting (4 years: FINECP)</ion-label>
          <ion-button slot="end" shape="round">
            <ion-icon name="arrow-forward-circle-sharp" slot="end"></ion-icon>
            View
          </ion-button>
        </ion-item>
        <ion-item > 
          <ion-label>Diploma in Public Finance and Accounting (3 years: FINDIP)</ion-label>
          <ion-button slot="end" shape="round">
            <ion-icon name="arrow-forward-circle-sharp" slot="end"></ion-icon>
            View
          </ion-button>
        </ion-item>
        <ion-item > 
          <ion-label>Diploma in Local Government Finance (3 years: LOGDIP)</ion-label>
          <ion-button slot="end" shape="round">
            <ion-icon name="arrow-forward-circle-sharp" slot="end"></ion-icon>
            View
          </ion-button>
        </ion-item>
        <ion-item > 
          <ion-label>Diploma in Human Resource Management</ion-label>
          <ion-button slot="end" shape="round">
            <ion-icon name="arrow-forward-circle-sharp" slot="end"></ion-icon>
            View
          </ion-button>
        </ion-item>
        <ion-item > 
          <ion-label>Advanced Diploma in Human Resource Management</ion-label>
          <ion-button slot="end" shape="round">
            <ion-icon name="arrow-forward-circle-sharp" slot="end"></ion-icon>
            View
          </ion-button>
        </ion-item>
        <ion-item > 
          <ion-label>Postgraduate Diploma in Human Resource Management</ion-label>
          <ion-button slot="end" shape="round">
            <ion-icon name="arrow-forward-circle-sharp" slot="end"></ion-icon>
            View
          </ion-button>
        </ion-item>
        <ion-item > 
          <ion-label>Diploma in Marketing (MAKDIP)</ion-label>
          <ion-button slot="end" shape="round">
            <ion-icon name="arrow-forward-circle-sharp" slot="end"></ion-icon>
            View
          </ion-button>
        </ion-item>
        <ion-item > 
          <ion-label>Advanced Diploma in Marketing (ADVMAK)</ion-label>
          <ion-button slot="end" shape="round">
            <ion-icon name="arrow-forward-circle-sharp" slot="end"></ion-icon>
            View
          </ion-button>
        </ion-item>
        <ion-item > 
          <ion-label>Postgraduate Diploma in Marketing (PGDMAK)</ion-label>
          <ion-button slot="end" shape="round">
            <ion-icon name="arrow-forward-circle-sharp" slot="end"></ion-icon>
            View
          </ion-button>
        </ion-item>
        <ion-item > 
          <ion-label>Diploma in Office Management and Technology</ion-label>
          <ion-button slot="end" shape="round">
            <ion-icon name="arrow-forward-circle-sharp" slot="end"></ion-icon>
            View
          </ion-button>
        </ion-item>
        <ion-item > 
          <ion-label>Advanced Diploma in Office Management and Technology</ion-label>
          <ion-button slot="end" shape="round">
            <ion-icon name="arrow-forward-circle-sharp" slot="end"></ion-icon>
            View
          </ion-button>
        </ion-item>
        <ion-item > 
          <ion-label>Advanced Diploma in Public Management</ion-label>
          <ion-button slot="end" shape="round">
            <ion-icon name="arrow-forward-circle-sharp" slot="end"></ion-icon>
            View
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>


  <ion-card id="list-card">
    <ion-card-header>
      <ion-card-title>Contact Details <ion-icon class="dep_head" name="call-sharp"></ion-icon></ion-card-title>
    </ion-card-header>
  
    <ion-card-content>

      <ion-list lines="none" id="list">
        <ion-item class="custom-detail-icon" detail="true">
          <ion-label>
            <h3>Faculty Dean</h3>
            <p>Dr BA Ntshangase</p>
          </ion-label>
          <ion-label>
            <h3>Tel No</h3>
            <p>+27(31) 9077220</p>
          </ion-label>
        </ion-item>
        <ion-item class="custom-detail-icon" detail="true">
          <ion-label>
            <h3>Senior Secretary</h3>
            <p>Mrs M Govender</p>
          </ion-label>
          <ion-label>
            <h3>Tel No</h3>
            <p>+27 31 907 7128</p>
          </ion-label>
        </ion-item>
        <ion-item class="custom-detail-icon" detail="true">
          <ion-label>
            <h3>Faculty Officer</h3>
            <p>Mr K.R. Quilie</p>
          </ion-label>
          <ion-label>
            <h3>Tel No</h3>
            <p>+27 31 907 7452</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  
</ion-content>
