<ion-content [fullscreen]="true">
  <ion-card id="card">
    <img alt="Silhouette of mountains" src="../../assets/images/loginRegister.jpg"/>
  </ion-card>
  <div class="text">
    <h1>Explore MUT Campus App</h1>
    <p>Ready to unlock the full potential of your campus experience? Login or check in as guest now to access exclusive features and stay connected with the MUT community.</p>
  </div>
  <ion-button class="button" id="login-opt" expand="block" size="large" routerLink="/login">Login</ion-button>
  <ion-button class="button" expand="block" size="large" routerLink="/tabs">Access As Guest</ion-button>


  <ion-modal
    trigger="login-opt"
    [initialBreakpoint]="0.99"
    [breakpoints]="[0.99]"
    handleBehavior="cycle"
    style="--border-radius: 17px;"
  >
    <ng-template>
      <ion-header>
      </ion-header>
      <ion-content class="ion-padding">

        <ion-card id="list-card">
          <ion-card-header>
            <ion-card-title style="color: gray;">Hello, Sign In As ?</ion-card-title>
            <ion-card-subtitle>Choose in the options below !</ion-card-subtitle>
          </ion-card-header>
        
                
            <ion-list lines="none" id="list">

              <ion-item id="open-custom-dialog">
                <ion-icon aria-hidden="true" slot="end" class="icons" name="log-in-outline"></ion-icon> 
                <ion-label>Student</ion-label>
                  <ion-modal id="example-modal" #modal trigger="open-custom-dialog">
                    <ng-template>
                      <div class="wrapper">
                        <ion-list style="background: #fff; margin-top: 15px;" lines="none">
                          <ion-item>
                            <ion-input label="Email" type="email" placeholder="22513145@live.mut.ac.za"></ion-input>
                          </ion-item>
                          <ion-item>
                            <ion-input label="Password" type="password" placeholder="@Mut6164085"></ion-input>
                          </ion-item>
                          <ion-button class="button" id="login-opt" expand="block" size="large">Sign In</ion-button>
                        </ion-list>
                      </div>
                    </ng-template>
                  </ion-modal>
              </ion-item>

              <ion-item id="src"> 
                <ion-icon aria-hidden="true" slot="end" class="icons" name="log-in-outline"></ion-icon>
                <ion-label>SRC Office</ion-label>
                <ion-modal id="example-modal" #modal trigger="src">
                  <ng-template>
                    <div class="wrapper">
                      <ion-list style="background: #fff; margin-top: 15px;" lines="none">
                        <ion-item>
                          <ion-input label="Enter Password" type="password"></ion-input>
                        </ion-item>
                        <ion-button routerLink="/src-admin" class="button" id="login-opt" expand="block" size="large">Sign In</ion-button>
                      </ion-list>
                    </div>
                  </ng-template>
                </ion-modal>
              </ion-item>

              <ion-item id="transport"> 
                <ion-icon aria-hidden="true" slot="end" class="icons" name="log-in-outline"></ion-icon>
                <ion-label>Transport Office</ion-label>
                <ion-modal id="example-modal" #modal trigger="transport">
                  <ng-template>
                    <div class="wrapper">
                      <ion-list style="background: #fff; margin-top: 15px;" lines="none">
                        <ion-item>
                          <ion-input label="Enter Password" type="password"></ion-input>
                        </ion-item>
                        <ion-button routerLink="/transport-admnin" class="button" id="login-opt" expand="block" size="large">Sign In</ion-button>
                      </ion-list>
                    </div>
                  </ng-template>
                </ion-modal>
              </ion-item>



              <ion-item id="sports"> 
                <ion-icon aria-hidden="true" slot="end" class="icons" name="log-in-outline"></ion-icon>
                <ion-label>Sports Office</ion-label>
                <ion-modal id="example-modal" #modal trigger="sports">
                  <ng-template>
                    <div class="wrapper">
                      <ion-list style="background: #fff; margin-top: 15px;" lines="none">
                        <ion-item>
                          <ion-input label="Enter Password" type="password"></ion-input>
                        </ion-item>
                        <ion-button routerLink="/sport-admin" class="button" id="login-opt" expand="block" size="large">Sign In</ion-button>
                      </ion-list>
                    </div>
                  </ng-template>
                </ion-modal>
              </ion-item>
            </ion-list>      
        </ion-card>
        
      </ion-content>
    </ng-template>
  </ion-modal>



</ion-content>