ion-header {
    ion-toolbar {
        --ion-toolbar-background: #ffffff;
        color: #000;
        font-weight: bold;
        box-shadow: none;
    }
  }
  
  ion-content {
    --ion-background-color: #ffffff;
  }
  
  /* Styles for the ion-header */
  ion-header {
    --background: #ffffff;
    --border-color: #ccc;
  }
  
  ion-toolbar {
    --background: #f8f9fa;
    --border-color: #dee2e6;
  }
  
  ion-title {
    --color: #333333;
    font-weight: bold;
  }
  
  /* Styles for ion-buttons and ion-icon */
  ion-buttons ion-button {
    --background: transparent;
    --color: indigo;
  }