<ion-header style="--background: indigo;" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Faculty of Natural Science</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-card id="grid_card">
      <ion-grid>
        <ion-row>
          <ion-col routerLink="/natural" class="Natural">
            Faculty of Natural Science
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-card>


  <!--<ion-card id="list-card">
      <ion-list lines="none" id="list">
        <ion-item>
          <ion-label>
            <h1>Faculty of Natural Science</h1>
            <p>With programmes in Agriculture, Biomedical Sciences, Chemistry, Community Extension, Environmental Health, Information and Communication Technology, and Nature Conservation, the faculty offers comprehensive education and research opportunities in various scientific disciplines.</p>
          </ion-label>
        </ion-item>
      </ion-list>
  </ion-card>-->

  <ion-card id="list-card">
    <ion-card-header>
      <ion-card-title>Natural Science Departments <ion-icon class="dep_head" name="pulse-sharp"></ion-icon></ion-card-title>
    </ion-card-header>
  
    <ion-card-content>

      <ion-list lines="none" id="list">
        <ion-item > 
          <ion-label>Agriculture</ion-label>
          <ion-button slot="end" shape="round">
            <ion-icon name="arrow-forward-circle-sharp" slot="end"></ion-icon>
            View
          </ion-button>
        </ion-item>
        <ion-item > 
          <ion-label>Biomedical Sciences</ion-label>
          <ion-button slot="end" shape="round">
            <ion-icon name="arrow-forward-circle-sharp" slot="end"></ion-icon>
            View
          </ion-button>
        </ion-item>
        <ion-item > 
          <ion-label>Chemistry</ion-label>
          <ion-button slot="end" shape="round">
            <ion-icon name="arrow-forward-circle-sharp" slot="end"></ion-icon>
            View
          </ion-button>
        </ion-item>
        <ion-item > 
          <ion-label>Community Extension</ion-label>
          <ion-button slot="end" shape="round">
            <ion-icon name="arrow-forward-circle-sharp" slot="end"></ion-icon>
            View
          </ion-button>
        </ion-item>
        <ion-item > 
          <ion-label>Environmental Health</ion-label>
          <ion-button slot="end" shape="round">
            <ion-icon name="arrow-forward-circle-sharp" slot="end"></ion-icon>
            View
          </ion-button>
        </ion-item>
        <ion-item > 
          <ion-label>Information and Communication Technology</ion-label>
          <ion-button slot="end" shape="round">
            <ion-icon name="arrow-forward-circle-sharp" slot="end"></ion-icon>
            View
          </ion-button>
        </ion-item>
        <ion-item > 
          <ion-label>Nature Conservation</ion-label>
          <ion-button slot="end" shape="round">
            <ion-icon name="arrow-forward-circle-sharp" slot="end"></ion-icon>
            View
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>


  <ion-card id="list-card">
    <ion-card-header>
      <ion-card-title>Natural Science Courses <ion-icon class="dep_head" name="pulse-sharp"></ion-icon></ion-card-title>
    </ion-card-header>
  
    <ion-card-content>

      <ion-list lines="none" id="list">
        <ion-item > 
          <ion-label>Diploma in Agriculture Crop Production</ion-label>
          <ion-button slot="end" shape="round">
            <ion-icon name="arrow-forward-circle-sharp" slot="end"></ion-icon>
            View
          </ion-button>
        </ion-item>
        <ion-item > 
          <ion-label>Diploma in Agriculture in Crop Production: (ECP)</ion-label>
          <ion-button slot="end" shape="round">
            <ion-icon name="arrow-forward-circle-sharp" slot="end"></ion-icon>
            View
          </ion-button>
        </ion-item>
        <ion-item > 
          <ion-label>Diploma in Agriculture in Animal Production: (ECP)</ion-label>
          <ion-button slot="end" shape="round">
            <ion-icon name="arrow-forward-circle-sharp" slot="end"></ion-icon>
            View
          </ion-button>
        </ion-item>
        <ion-item > 
          <ion-label>Diploma in Agriculture in Animal Production: (ECP)</ion-label>
          <ion-button slot="end" shape="round">
            <ion-icon name="arrow-forward-circle-sharp" slot="end"></ion-icon>
            View
          </ion-button>
        </ion-item>
        <ion-item > 
          <ion-label>Advanced Diploma in Agriculture in Animal Production</ion-label>
          <ion-button slot="end" shape="round">
            <ion-icon name="arrow-forward-circle-sharp" slot="end"></ion-icon>
            View
          </ion-button>
        </ion-item>
        <ion-item > 
          <ion-label>Bachelor of Health Sciences: Medical Laboratory Science</ion-label>
          <ion-button slot="end" shape="round">
            <ion-icon name="arrow-forward-circle-sharp" slot="end"></ion-icon>
            View
          </ion-button>
        </ion-item>
        <ion-item > 
          <ion-label>Diploma in Analytical Chemistry (3215061)</ion-label>
          <ion-button slot="end" shape="round">
            <ion-icon name="arrow-forward-circle-sharp" slot="end"></ion-icon>
            View
          </ion-button>
        </ion-item>
        <ion-item > 
          <ion-label>Access Course: Analytical Chemistry</ion-label>
          <ion-button slot="end" shape="round">
            <ion-icon name="arrow-forward-circle-sharp" slot="end"></ion-icon>
            View
          </ion-button>
        </ion-item>
        <ion-item > 
          <ion-label>Advanced Diploma in Chemistry (ADVACH)</ion-label>
          <ion-button slot="end" shape="round">
            <ion-icon name="arrow-forward-circle-sharp" slot="end"></ion-icon>
            View
          </ion-button>
        </ion-item>
        <ion-item > 
          <ion-label>Diploma in Community Extension</ion-label>
          <ion-button slot="end" shape="round">
            <ion-icon name="arrow-forward-circle-sharp" slot="end"></ion-icon>
            View
          </ion-button>
        </ion-item>
        <ion-item > 
          <ion-label>Advanced Diploma in Agricultural Extension and Community Development</ion-label>
          <ion-button slot="end" shape="round">
            <ion-icon name="arrow-forward-circle-sharp" slot="end"></ion-icon>
            View
          </ion-button>
        </ion-item>
        <ion-item > 
          <ion-label>Bachelor of Science in Environmental Health (BSc)</ion-label>
          <ion-button slot="end" shape="round">
            <ion-icon name="arrow-forward-circle-sharp" slot="end"></ion-icon>
            View
          </ion-button>
        </ion-item>
        <ion-item > 
          <ion-label>Diploma in Information Technology</ion-label>
          <ion-button slot="end" shape="round">
            <ion-icon name="arrow-forward-circle-sharp" slot="end"></ion-icon>
            View
          </ion-button>
        </ion-item>
        <ion-item > 
          <ion-label>Diploma in Information Technology: (ECP)</ion-label>
          <ion-button slot="end" shape="round">
            <ion-icon name="arrow-forward-circle-sharp" slot="end"></ion-icon>
            View
          </ion-button>
        </ion-item>
        <ion-item > 
          <ion-label>Advanced Diploma in Information and Communication Technology in Applications Development</ion-label>
          <ion-button slot="end" shape="round">
            <ion-icon name="arrow-forward-circle-sharp" slot="end"></ion-icon>
            View
          </ion-button>
        </ion-item>
        <ion-item > 
          <ion-label>Diploma in Nature Conservation</ion-label>
          <ion-button slot="end" shape="round">
            <ion-icon name="arrow-forward-circle-sharp" slot="end"></ion-icon>
            View
          </ion-button>
        </ion-item>
        <ion-item > 
          <ion-label>Advanced Diploma in Nature Conservation</ion-label>
          <ion-button slot="end" shape="round">
            <ion-icon name="arrow-forward-circle-sharp" slot="end"></ion-icon>
            View
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>


  <ion-card id="list-card">
    <ion-card-header>
      <ion-card-title>Contact Details <ion-icon class="dep_head" name="call-sharp"></ion-icon></ion-card-title>
    </ion-card-header>
  
    <ion-card-content>

      <ion-list lines="none" id="list">
        <ion-item class="custom-detail-icon" detail="true">
          <ion-label>
            <h3>Faculty Dean</h3>
            <p>Prof R Coopoosamy</p>
          </ion-label>
          <ion-label>
            <h3>Tel No</h3>
            <p>+27 31 9077601</p>
          </ion-label>
        </ion-item>
        <ion-item class="custom-detail-icon" detail="true">
          <ion-label>
            <h3>Senior Secretary</h3>
            <p>Mr Z Khumalo</p>
          </ion-label>
          <ion-label>
            <h3>Tel No</h3>
            <p>+27 31 9077602</p>
          </ion-label>
        </ion-item>
        <ion-item class="custom-detail-icon" detail="true">
          <ion-label>
            <h3>Faculty Officer</h3>
            <p>Mr I Cebekhulu</p>
          </ion-label>
          <ion-label>
            <h3>Tel No</h3>
            <p>+27 31 9077678</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  
</ion-content>
