<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <div class="profile">
      <div class="profile-frm">
          <div class="profile-image">
              <img src="..\..\assets\icon\sportadimn.png">
          </div>
      </div>
      <div class="profile-name">
          <ion-title>Sport & Entertainment Admin</ion-title>
      </div>
    </div>
    <ion-buttons slot="end">
      <ion-button> <ion-icon name="tennisball-sharp"></ion-icon> </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <!--<ion-title size="large">sports</ion-title>-->
    </ion-toolbar>
  </ion-header>


  
  <ion-card>
    <ion-card-header>
      <strong>FINAL SPORT DAY</strong>
    </ion-card-header>
  
    <ion-card-content>
      <p>The SRC led by EFFSC through the office of the capable Sport President invites you MUT students to come out in number. Tomorrow is the final day where we will see who is our champion? who will take in ? Ubani ozohamba ephethe esandleni? Find out that tomorrow UZE UNGAPHUTHELWA!!!!</p>
      <br>
      <p>There is an ACTIVATION tomorrow, where Amazulu FC staff will be available. Kuningi okuzokwenzeka! HEBE! USUTHU!!</p>
      <br>
      <p>ASIDLALENI le DISKI⚽⚽⚽🔥🔥🔥<br></p>

      <p>Danko!!! Wozani Nizobona!!!</p>

    <div class="image-container">
      <img src="..\..\assets\images\media\MUTsportday-1.jpg" alt="MUT Sport day image 1">
      <img src="..\..\assets\images\media\MUTsportday-2.jpg" alt="MUT Sport day image 2">
    </div>

    </ion-card-content>
    
    <div class="reaction">
      <div class="like">
        <ion-button fill="clear"><ion-icon name="thumbs-up-outline"></ion-icon></ion-button>
      </div>

      <div class="comment">
        <ion-button fill="clear"><ion-icon name="chatbox-outline"></ion-icon></ion-button>
      </div>
    </div>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <strong>SPORT DAY EVENT</strong>
    </ion-card-header>
  
    <ion-card-content>
      <p><strong>Football </strong></p>
      <p>Please see these results of today’s matches. We have top 4 now. It’s becoming more interesting 🔥🔥🔥⚽⚽⚽
      </p>
      <p>Who will take win this tournament? Tell us!</p>
      <br>
      <p><strong>Netball</strong>
      </p>
      <p>Top 8 matches are taking place tomorrow, let us find out who will be part of Top 4! Kushube kakhulu!
      </p>
      <br>
      <p>#ASIDLALENI!!! &#64;everyone<br></p>

    <div class="image-container">
      <img src="..\..\assets\images\media\Last8-match-results.jpg" alt="MUT Sport day image 1">
      <img src="..\..\assets\images\media\last8-netball-fixture.jpg" alt="MUT Sport day image 2">
    </div>

    </ion-card-content>
    
    <div class="reaction">
      <div class="like">
        <ion-button fill="clear"><ion-icon name="thumbs-up-outline"></ion-icon></ion-button>
      </div>

      <div class="comment">
        <ion-button fill="clear"><ion-icon name="chatbox-outline"></ion-icon></ion-button>
      </div>
    </div>
  </ion-card>

</ion-content>
