<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-icon name="person-circle"></ion-icon>
    <ion-card-header>
      <ion-card-title>Login</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-input label="ID Number" label-placement="floating" fill="solid" placeholder="12345678"></ion-input>
      <ion-input label="Password" label-placement="floating" fill="solid" placeholder="123456"></ion-input>
      
      <div class="buttons">
        <ion-button color="primary">Login</ion-button>
        <ion-button fill="outline" href="..\..\login\sign-up\sign-up.page.html">Sign-up</ion-button>
        <ion-button fill="clear">Foroget Password</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
